/* Universal Styles */

html {
  font-size: 18px;
}

@media only screen and (max-width: 560px) {
  html {
    font-size: 15px;
  }
}

input:focus {
  outline: none;
}

/* Banner */

.banner .accountName {
  padding-right: 50px;
  text-align: right;
}

.banner .username {
  color: gray
}

.banner .username:hover {
  color: blue;
}

.banner .logo {
  padding-left: 50px;
  text-align: left;
}

/* Reusable Component - YearList */
