.YearList {
  display: flex;
  border: 3px solid blue;
  flex-wrap: wrap;
  margin: 2.4rem 10%;
  background-color: white;
}

button {
  height: 30px;
  width: 30px;
  border: 2px solid black;
  background-color: white;
  display: inline;
  margin-top: 18%;
  border-radius: 100%;
  color: black;
  font-size: 12px;
}

button:hover {
  border: 3px solid black;
  font-size: 14px;
}

button:active {
  border: 1px solid black;
  font-size: 10px;
}
